.*
!/.gitignore
*.opensdf
*.sdf
*.suo
*.filters
*.user
*.log
*.tlog
*.res
*.manifest
*.lastbuildstate
*.obj
*.rc
*.idb
*.pdb
*.exp
*.ilk
*.lib
*.pdb
*.ipch
*.class


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
